pos13_app/pos13_app/pos13_app.Windows/Service References/pos13_app_services/pos13_app_services4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/pos13_app_data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pos13_app_data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMstUserController">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MstUserController" nillable="true" type="tns:MstUserController" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMstUserController" nillable="true" type="tns:ArrayOfMstUserController" />
  <xs:complexType name="MstUserController">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MstUserController" nillable="true" type="tns:MstUserController" />
</xs:schema>